.App {
  text-align: center;
}

.releases {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.release {
  flex: 25%;
  text-align: center;
  border: 1px solid black;
  margin: 10px 5px;
  max-width: 500px;
}

.image {
  max-width: 350px;
  padding: 10px;
}

.search-bar {
  margin-right: 10px;
}